@font-face {
  font-family: 'BlenderProBold';
  src: url("../fonts/blenderpro-bold-webfont.woff") format("woff"); }

img{
	max-width: none;
}

.cr-section-top {
    background-color: #ffffff;
    /*position: fixed;
    width: 100%;
		top:0;
		z-index: 100;*/
}


.margin-top-0{
  margin-top: 0;
}


h1{
	font-family: 'BlenderProBold', Arial, sans-serif;
	font-size: 3.5rem;
  line-height: 1;
  margin-top: 1rem;
}

h2{
	font-size: 2rem;
}

.cr-section-top{

}

.section{
	margin-bottom: 4rem;
}

.wrapper-content-right .section {
	margin-top: 2rem;
}

.wrapper-content-right > .section {
	margin-top: 4rem;
}

.wrapper-content-right .section:first-child {
	margin-top: 0;
}

.toctree {
	padding-left: 0;
	list-style: none;
	padding-bottom: 60px;
}

.toctree li {
	list-style: none;
}

a.current, a.current-active {
	font-weight: bold;
}

.highlight {
	font-size: 14px;
}

.highlight pre {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 2px;
	background: #f0f0f0 none repeat scroll 0 0;
}

blockquote {
	font-size: 20px;
	border-left: 0px;
	padding: 0px 0px;
}

/** NOTES, etc **/

.caution .admonition-title,
.note .admonition-title,
.tip .admonition-title,
.todo .admonition-title,
.seealso .admonition-title,
.warning .admonition-title {
	padding: 10px 20px;
	font-weight: bold;
	color: #000000;
}

.caution {
	background-color: #ffedcc;
	border-left: 5px solid #f0b37e;
}

.note,
.tip {
	background-color: #ccf2fc;
	border-left: 5px solid #55d4f5;
}

.seealso,
.todo {
	background-color: #e7e7e7;
	border-left: 5px solid #888888;
}

.warning {
	background-color: #ffcdc9;
	border-left: 5px solid #ff5b4d;
}

.caution .admonition-title {
	padding-bottom: 0;
	background-color: #ffedcc;
}

.note .admonition-title,
.tip .admonition-title {
	padding-bottom: 0;
	background-color: #ccf2fc;
}

.seealso .admonition-title,
.todo .admonition-title {
	padding-bottom: 0;
	background-color: #e7e7e7;
}

.warning .admonition-title {
	padding-bottom: 0;
	background-color: #ffcdc9;
}

.todo p,
.seealso p,
.note p,
.tip p,
.warning p,
.caution p {
	padding: 10px 20px;
	margin: 0;
}

.bs-docs-sidenav > li {
	display: none;
}


/** MENUE **/

.bs-docs-sidenav .toctree li {
    line-height: 1.2;
    padding: .4rem 0;
    font-size: 1rem;
    display: inline-block;
    width:100%
}

.bs-docs-sidenav ul.toctree {
    padding-left: 0;
}

.bs-docs-sidenav ul {
    padding-left: 1rem;
    display: block;
}

.bs-docs-sidenav .toctree li.cr-nav-label {
    color: #bbb;
    margin-top: 1rem;
}

.bs-docs-sidenav .toctree li.border-top {
	border-top: 1px solid #e7e7e7;
	padding-top: 1rem;
	margin-top: 1rem;
}

.bs-docs-sidenav .toctree li a {
  display: inline-block;
	text-decoration: none;
	color: black;
}

.bs-docs-sidenav .toctree li a:hover {
	color: #008AAE;
}

.bs-docs-sidenav .toctree li a.current-active {
    padding-bottom: .4rem;
}

.bs-docs-sidenav .toctree li.current > a,
.bs-docs-sidenav .toctree li.active > a {
	font-weight: bold;
  letter-spacing: 0;
}

.bs-docs-sidenav .toctree ul ul ul {
	display: none;
}

.bs-docs-sidenav .toctree li.current > ul,
.bs-docs-sidenav .toctree ul li.active > ul {
	display: block !important;
}
.bs-docs-sidenav {
	padding-left: 0px;
}
.bs-docs-sidebar {
	/*padding: 1rem*/;
}

.affix {
	position: fixed !important;
	top: 20px;
}

#nav-affix {
	overflow-y: auto;
}

#nav-main .cr-navbar-toggle{
  display:none;
}

#nav-main .cr-navbar-toggle-docs{
  border: none;
  color: #000;
  padding: 0;
  outline: none;
  background-color: #ffffff;
  margin-right: 20px;
  border-radius: 0;

}

.cr-sidenav-up{
  position: fixed;
  top:60px;
  left:0;
  width:100%;
  background-color: #fff;
  z-index: 100;
  padding: 0 1rem;
  max-height: 100%;
  overflow-y: auto;
}

#nav-side .cr-navbar-toggle, #nav-side .cr-navbar-toggleLabel {
  float:left;
  margin-right: 1rem;
}

.wrapper-navleft {
	padding: 0px;
	border: 0px;
}

#nav-main{
  justify-content: space-between;
}

#nav-main .navbar-collapse{
  flex-grow: 0;
}

@media (min-width: 768px){
  .navbar-nav .nav-item.nav-highlight a {
    border: 1px solid #000;
    border-radius: 2px;
    padding: .2rem 1rem;
    margin-top: 0.75rem;
    margin-left: 1rem;
  }
  .cr-section-top .nav-item {
    border-top: none;
  }
}

.wrapper-navleft .bs-docs-sidebar {

}
.cr-content-right .cr-anchor-top {

}

@media (min-width: 768px) {
  .cr-nav-left{
    border-right: 1px solid #e7e7e7;
  }

  .cr-content-right{
    padding-left: 2rem;
  }

  #nav-side{

  }
}


h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
    border: 0;
}

a code {
    border: 0;
    font-weight: normal;
}

div.topic {
    border: 0;
}

/**
* Search
*/
.form-search {
  border: 2px solid #55d4f5;
  display: inline-flex;
  margin-bottom: 2rem;
}

.form-search .search-query {
  width: 300px;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  border: 0;
  outline: none;
}

.form-search .btn {
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
}

#search-results {
  margin-top: 2rem;
}

#search-results > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#search-results > ul li.card {
  margin-bottom: 20px;
  background: none;
  padding: 0;
}

form.form-search button{
  margin-top: 0;
  border-radius: 0;
}
